body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    background-image: url("../assets/back.jpg");
    background-size: cover;
  }
  
  .container {
    text-align: center;
    backdrop-filter: blur(4px);
  }
  .role{
    background-color: white;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  }
  form {
    width: 500px;
    padding: 30px;
    margin-top: 10px;
    background: rgba(251, 249, 249, 0.655);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  